@font-face {
  font-family: BYT;
  src: url("font/BOYCOTT_.ttf"); }
html {
  margin: 0;
  padding: 0; }
  html body {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: monospace;
    background-image: url("img/bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; }
    html body header {
      background-color: #173654;
      padding: 0px 0px 10px 0px;
      margin: 0;
      width: 100%; }
      html body header h1, html body header p {
        margin: 0;
        padding: 1% 0px 1% 0px;
        color: white; }
      html body header p {
        font-size: 16px;
        font-weight: bold; }
      html body header h1 {
        font-family: BYT;
        font-size: 50px; }
      @media only screen and (max-width: 1050px) {
        html body header p, html body header h1 {
          transition: 3s;
          padding: 10px 0px 8px 0px; }
        html body header p {
          font-size: 14px; }
        html body header h1 {
          font-size: 40px; } }
      @media only screen and (max-width: 650px) {
        html body header p {
          padding: 6px 0px 4px 0px;
          font-size: 12px; }
        html body header h1 {
          padding: 8px 0px 4px 0px;
          font-size: 30px; } }
    html body #bigform {
      width: 80%;
      height: 100%;
      margin-left: 10%;
      background: rgba(0, 0, 0, 0.95);
      display: flex;
      justify-content: space-around;
      padding: 10px 0px 50px 0px; }
      @media only screen and (max-width: 1050px) {
        html body #bigform {
          width: 90%;
          margin-left: 5%;
          background: rgba(0, 0, 0, 0.9);
          transition: 3s; } }
      @media only screen and (max-width: 950px) {
        html body #bigform {
          background: rgba(0, 0, 0, 0.8);
          transition: 3s; } }
      @media only screen and (max-width: 650px) {
        html body #bigform {
          width: 100%;
          transition: 3s;
          background: rgba(0, 0, 0, 0.7);
          display: flex;
          flex-direction: column;
          padding: 0%;
          margin: 0%; } }
      @media only screen and (max-width: 950px) {
        html body #bigform .parts .uniqquestion {
          transition: 1s;
          height: auto;
          width: 100%; }
        html body #bigform .parts p {
          transition: 1s;
          text-align: center;
          padding: 2px 0px 4px 0px; }
        html body #bigform .parts .questions {
          transition: 1s;
          font-size: 12px;
          width: 80%;
          margin-left: 10%; }
        html body #bigform .parts input {
          transition: 1s;
          margin-top: 8px; } }
      @media only screen and (max-width: 650px) {
        html body #bigform .parts .uniqquestion {
          transition: 3s;
          height: auto;
          width: 100%; }
        html body #bigform .parts p {
          transition: 3s;
          text-align: center;
          padding: 2px 0px 4px 0px; }
        html body #bigform .parts .questions {
          transition: 3s;
          font-size: 12px;
          width: 80%;
          margin-left: 10%; }
        html body #bigform .parts input {
          transition: 3s;
          margin-top: 4px; } }
      html body #bigform .parts p {
        color: white;
        width: 400px;
        height: 20px;
        padding-bottom: 6px; }
      html body #bigform .parts input {
        background: white;
        margin-top: 2%; }
      html body #bigform .parts .uniqquestion {
        padding: 10px 0px 10px 0px; }
      html body #bigform button {
        background-color: #173654;
        color: white; }

/*# sourceMappingURL=quizz.css.map */
